<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
	RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)$ index.php?study-name=$1&site-number=$2&page-name=$3
</IfModule>